/* Styling */
.total_container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(201, 87, 201);
    justify-content: center;
    align-items: center;
}

.useless_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    margin-top: 125px;
}

.box{
    height: 500px;
    width: 750px;
    background-color: rgb(204, 134, 204);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10%;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(40, 39, 39);
}

li {list-style: none;}

.historyrectangle{
    height: 450px;
    width: 500px;
    background-color: rgb(150, 75, 150);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 10px;
    margin-left:25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    box-shadow: 5px 5px 5px rgb(40, 39, 39);
}

.guess_input{
    height: 40px;
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
}

.check_button{
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(150, 75, 150);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.restart_button{
    height: 40px;
    width: 150px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(150, 75, 150);
    color: rgb(255, 255, 255);
    cursor: pointer;
}